/* vars */
:root {
    --player1-color: red;
    --player2-color: blue;
}

/* board styles */
.board {
    width: 400px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.starting-board {
    background-image: url("https://images.unsplash.com/photo-1629836472253-577cb69025bf?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: none;
}

.player1-board {
    border: black solid 10px;
    background-color: var(--player1-color);
}

.player2-board {
    border: black solid 10px;
    background-color: var(--player2-color);
}
.row {
    /* border: pink 1px solid; */

    display: flex;
    flex-direction: row;
    gap: 25px;
}

.row button {
    width: 100px;
    height: 100px;

    border: 2px grey solid;
    cursor: pointer;
}