/* global properties */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* marks */
.X, .O {
    background-size: cover;
    background-repeat: no-repeat;
}
.X {
    /* background-color: var(--player1-color); */
    background-image: url('./images/x.png');
}

.O {
    /* background-color: var(--player2-color); */
    background-image: url('./images/o.png');
}