/* global properties */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* vars */
:root {
    --player1-color: red;
    --player2-color: blue;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* marks */
.X, .O {
    background-size: cover;
    background-repeat: no-repeat;
}
.X {
    /* background-color: var(--player1-color); */
    background-image: url('./images/x.png');
}

.O {
    /* background-color: var(--player2-color); */
    background-image: url('./images/o.png');
}

/* board styles */
.board {
    width: 400px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.player1-board {
    border: black solid 10px;
    background-color: var(--player1-color);
}

.player2-board {
    border: black solid 10px;
    background-color: var(--player2-color);
}
.row {
    /* border: pink 1px solid; */

    display: flex;
    flex-direction: row;
    gap: 25px;
}

.row button {
    width: 100px;
    height: 100px;

    border: 2px grey solid;
    cursor: pointer;
}